extends ./layout.pug

block title
  title Homepage

block body
  if page == "Product Page"
    h1#header(style={color:"green"}) Please Update Product
    div#mainContainer
        form(action="#" method="post")
          p Product Name
          input(placeholder=product.name name="name")
          p Product Price
          input(placeholder=product.price name="price")
          p Product Inventory
          input(placeholder=product.inventory name="inventory")
          br
          button#send SEND
          br
          button#home
            a(href="/products") HOME
  else
    h1#header(style={color:"green"}) Please Update Article
    div#mainContainer
        form(action="#" method="post")
          p Article Name
          input(placeholder=article.title name="title")
          p Article Body
          input(placeholder=article.body name="body")
          p Article Authro
          input(placeholder=article.author name="author")
          br
          button#send Send
          br
          button#home
            a(href="/articles") Home