mixin productList(products)
  each product in products
    div#box
      div.product #{product.name}
      div.product #{product.price}
      div.product #{product.inventory}
      br

mixin articleList(articles)
  each article in articles
    div.article #{article.title}
    div.article #{article.body}
    div.article #{article.author}
    br

